.card {
    width: 270px;
    height: 330px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition-duration: .5s;
    cursor: pointer;
}

.profileImage {
    background: linear-gradient(to right, rgb(252, 252, 252), rgb(228, 225, 225));
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.textContainer {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 1em;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
}

.profile {
    margin-top: 10px;
    font-size: 0.84em;
    color: white;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 10px 5px;
    border-radius: 30px;
    background-color: black;
    transition: all ease 0.5s;
}

.card:hover {
    transform: scale(1.03);
}

